.Chat-content {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  padding: 2px 10px 86px 10px;

  &__messages {
    overflow-y: scroll;
    max-height: 100%;

    box-sizing: border-box;
  }
}