$columnSize: 30px;

.Semki-game {
  &__row {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__col {
    align-items: center;
    border: 1px solid var(--baseTextColor);
    display: flex;
    height: $columnSize;
    justify-content: center;
    margin-left: -1px;
    margin-top: -1px;
    width: $columnSize;
  }
}
