.Game-actions {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  &__input {
    align-items: center;
    display: flex;
    font-size: 0;
    margin-right: 30px;
    width: 170px;
  }

  &__actions {
    display: flex;
  }

  &__button {
    margin-right: 16px;
  }

  &__score {
    margin-left: auto;
  }
}