.Game {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: -30px;

  &__container {
    min-width: 682px;
  }

  &__table {
    border: 1px solid var(--baseTextColor);
    margin-top: 15px;
  }
}