.Table-row {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0;
  padding: 20px 15px;
  text-align: left;
  width: 100%;

  &__category,
  &__title,
  &__status {
    display: inline-block;
    vertical-align: middle;
  }

  &__category {
    font-size: 14px;
    width: 20%;
  }

  &__title {
    font-size: 18px;
    width: 65%;
  }

  &__status {
    font-size: 12px;
    text-align: right;
    width: 15%;
  }
}
