.Xo-page {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__container {
    border: 1px solid var(--baseTextColor);
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    margin: 0;
    padding: 0;
    width: 300px;

    &--winner {
      align-items: center;
      justify-content: center;
    }
  }

  &__cell {
    height: 100px;
    list-style-type: none;
    width: 100px;
  }


}