.flat-to-nested-page {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__col {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 10px;
  }

  &__heading {
    padding-bottom: 20px;
  }

  &__result {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 0 10px;
  }
}
