.data-table {
  border: 1px solid var(--baseTextColor);
  border-collapse: collapse;

  &__cell {
    border: 1px solid var(--baseTextColor);
    min-width: 50px;
    padding: 10px;

    &:first-child {
      min-width: 20px;
    }

    &:last-child {
      text-align: right;
    }
  }
}
