.Sidebar {
  padding: 10px;
  width: 300px;

  &__inner {
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    color: var(--baseTextColor);
    padding: 30px 15px 50px;
  }

  &__navigation {
    margin-top: 30px;
  }
}
