.Pagination {
  align-items: center;
  display: inline-flex;
  font-size: 0;

  &__prev {
    margin-right: 20px;
  }

  &__page-number {
    width: 50px;
  }

  &__pref {
    font-size: 12px;
    margin-left: 10px;
  }

  &__total {
    font-size: 14px;
    margin-left: 10px;
  }

  &__next {
    margin-left: 20px;
  }
}
