.Todo-item-page {
  height: 100%;
  position: relative;

  &__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    padding-right: 20px;
  }

  &__id {
    padding-left: 20px;
  }

  &__main {
    margin-top: 30px;
  }

  &__item {
    margin-top: 20px;
  }

  &__title {
    margin-right: 20px;
  }
}
