.world-time-page {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;

  &__clock {
    margin-top: 30px;
  }

  &__countries {
    padding-left: 30px;
  }
}
