.Chat-messages-list {
  list-style: none;
  margin: 0;
  padding: 10px;

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  &__user {
    padding-bottom: 5px;
  }

  &__message-container {
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 20px;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.2);

    &--self {
      margin-left: auto;
    }
  }

  &__time {
    font-size: 10px;
    color: var(--baseTextColor);
    margin-top: 5px;
  }
}