.Chat-messages-list {
  list-style: none;
  margin: 0;
  padding: 10px;

  &__item {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  &__user {
    padding-bottom: 5px;
  }

  &__message-container {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
    margin-left: 20px;
    min-width: 50%;
    padding: 5px 10px;

    &--self {
      margin-left: auto;
    }
  }

  &__time {
    color: var(--baseTextColor);
    font-size: 10px;
    margin-top: 5px;
  }
}
