.App-header {
  align-items: center;
  box-shadow: 0 0 6px rgba(0,0,0, .7);
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  position: relative;
  z-index: 2;

  &__logo {
    color: var(--baseTextColor);
    font-size: 24px;
  }

  &__navigation {
    flex-grow: 10;
  }

  &__options {
    font-size: 0;
    margin-left: auto;
  }

  &__user {
    margin-left: 15px;
  }
}