.Tyres-page {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    flex-grow: 1;
    flex-basis: 33%;
    padding: 15px 30px;
    box-sizing: border-box;
    margin-top: 30px;
    min-width: 200px;
  }

  &__actions {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
}